workspace "spotify"
workspace "2"

include "cfg/input.kdl"
include "cfg/layout.kdl"
include "cfg/appearance.kdl"
include "cfg/animations.kdl"
include "cfg/binds.kdl"
include "cfg/environment.kdl"
include "cfg/output.kdl"

spawn-at-startup "noctalia"

hotkey-overlay

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

//include "noctalia.kdl"











