layout {
  
    shadow {
        on
        softness 20
        spread -3
        offset x=6 y=6
        color "#000000"
    }

    border {
        off
        
       width 1

        active-color "#BFC1CD"

        inactive-color "#000000"
    }
    focus-ring {
        off
        width 1

        active-color "#000000"
    }
    gaps 22
}


prefer-no-csd

window-rule {
    match app-id=r"^org\.wezfurlong\.wezterm$"
    default-column-width
}

window-rule {
    geometry-corner-radius 20
    clip-to-geometry true
    draw-border-with-background false
    opacity 0.85
    background-effect {
        blur true
        liquid-glass {
            refraction-strength 3
            power-factor 1
            refraction-power 1.0
            glow-weight 0 
            edge-lighting 0.6
            saturation 0.9
            vibrancy 0
            adaptive-dim 0.2
            adaptive-boost 0.2
            physical-refraction 0
            lens-distortion 0
            fringing 0
        }
    }
}



window-rule { match app-id=r"kitty"; opacity 1.0; }

window-rule {
 match app-id=r"zen" title=r"Zen Browser" ;





 open-maximized true ;






 opacity 1.0 ;






 open-on-workspace "2" ;
}

blur {
    on
    passes 2
    offset 1

    noise 0.0
}

layer-rule {
    place-within-backdrop true
}

overview {
    workspace-shadow {
        off
    }
}

layer-rule {
 match namespace=r"noctalia-bar-clock_bar" ;




    background-effect {
	        blur false
		xray false
    }
}

layer-rule {
 match namespace=r"noctalia-bar-opacity" ;







    background-effect {
	        blur false
    }
}

layer-rule {
 match namespace=r"noctalia-bar-waybar" ;
    background-effect {
  blur true
  xray false

    }
}

layer-rule {
 match namespace=r"noctalia-bar-bar" ;
    background-effect {
  blur false
  xray false

    }
}

layer-rule {
  match namespace="^noctalia-(bar-[^\"]+|notification|dock|panel|attached-panel|osd)$"
  background-effect {
    xray false 
     // blur false
    }
}
